.app {
    background-color: #004687;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .header {
    text-align: center;
    padding: 20px;
  }
  
  .logo {
    max-width: 100%;
    height: auto;
  }
  
  .content {
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
  }
  
  input {
    background-color: #004687;
    padding: 10px;
    font-size: 16px;
    width: 100vh;
    max-width: 400px;
    border: 3px solid #ffffff;
    color: white;
    border-radius: 22px;
  }