/* Remova a margem padrão do corpo */
body {
  margin: 0;
}

/* Adicione regras de mídia para telas menores */
@media screen and (max-width: 768px) {
  *, .FormInput, .FormTable {
    margin-left: 0;
    width: 100%;
  }

  /* Ajustes para a área de pesquisa */
  .Pesquisa {
    margin-left: 0;
    flex-direction: column;
    align-items: center; /* Centralizar os itens na coluna */
  }

  .Pesquisa input {
    margin-bottom: 10px;
    width: 80%; /* Ajuste a largura conforme necessário */
    padding: 8px;
    box-sizing: border-box; /* Garante que o padding não altere a largura total */
  }

  /* Ajustes para a tabela de resultados */
  .Tabela {
    margin-left: 0;
    font-size: 10px;
    border-collapse: collapse;
    margin-top: 20px; /* Adiciona um espaçamento superior para melhorar o visual */
    overflow-x: auto; /* Adicionado para permitir rolar horizontalmente se necessário */
width: 100%;
  }
  
  .FormTable {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
  .Tabela th, .Tabela td {
    border: 1px solid #ddd;
  }
  
  .Tabela th {
    background-color: #4c6baf;
    color: white;
  }
  .Tabela td {
    background-color: #bfcae2;
    color: rgb(0, 0, 0);
    width: 100%;
  }
  
  .Tabela tr:hover {
    background-color: #f5f5f5;
  }
  .Pesquisa input {
    width: 100%;
    padding: 10px;
    border: 1px solid #005c9e;
    border-radius: 15px;
  }
  .EnviarCadastro {
    background-color: #4c6baf;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 9px;
    
  }
  
  .EnviarCadastro:hover {
    background-color: rgb(149, 193, 230);
  }
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* Ajuste para o centro da tela */
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    height: auto;
  }
}
/* Estilos adicionais para telas maiores (não móveis) */
@media screen and (min-width: 769px) {
  .cadastroInput {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Espaçamento entre os inputs */
  .cadastroInput + .cadastroInput {
    margin-top: 10px;
  }
  
  /* Estilos para o botão de cadastrar */
  .EnviarCadastro {
    background-color: #4c6baf;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .EnviarCadastro:hover {
    background-color: rgb(149, 193, 230);
  }
  
  /* Estilos para a mensagem de status do cadastro */
  .cadastro-status {
    margin-top: 10px;
    font-size: 16px;
    color: #4caf50; /* Verde */
  }
  
  .cadastro-status.error {
    color: #f44336; /* Vermelho */
  }
  
  /* Estilos para a tabela de resultados */
  .Tabela {
    margin-right: -35vh; /* Alterado para porcentagem para melhor adaptação em telas menores */
margin: auto;
    width: 30%;
    border-collapse: collapse;
  }
  
  .Tabela th, .Tabela td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .Tabela th {
    background-color: #4c6baf;
    color: white;
  }
  
  .Tabela tr:hover {
    background-color: #f5f5f5;
  }
  
  /* Estilos para o ícone na tabela */
  .IconeTabela {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  
  /* Estilos para a área de pesquisa */
  .Pesquisa {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .Pesquisa input {
    width: 100%;
    padding: 10px;
    border: 1px solid #005c9e;
    border-radius: 15px;
  }
  
  .Pesquisa img {
    cursor: pointer;
  }
  .FormInput {
    margin-right: -35vh; /* Alterado para porcentagem para melhor adaptação em telas menores */
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
  }
  
  /* Estilos para o modal */
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* Ajuste para o centro da tela */
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    height: auto;
  }
}

