/* Remova a margem padrão do corpo */
body {
  margin: 0;
}

/* Adicione regras de mídia para telas menores */
@media screen and (max-width: 768px) {
  *, .FormInput {
    margin-left: 0;
    width: 100%;
  }

  /* Ajustes para a área de pesquisa */
  .Pesquisa {
    margin-left: 0;
    flex-direction: column;
    align-items: center; /* Centralizar os itens na coluna */
  }

  .Pesquisa input {
    margin-bottom: 10px;
    width: 80%; /* Ajuste a largura conforme necessário */
    padding: 8px;
    box-sizing: border-box; /* Garante que o padding não altere a largura total */
  }

  /* Ajustes para a tabela de resultados */
  .Tabela {
    margin-left: 0;
    font-size: 10px;
    border-collapse: collapse;
    margin-top: 20px; /* Adiciona um espaçamento superior para melhorar o visual */
    overflow-x: auto; /* Adicionado para permitir rolar horizontalmente se necessário */
  }
  
  .FormTable {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    
  }
  .Tabela th, .Tabela td {
    border: 1px solid #ddd;
  }
  
  .Tabela th {
    background-color: #4c6baf;
    color: white;
  }
  .Tabela td {
    color: rgb(0, 0, 0);
    width: 100%;
  }
  
  .Tabela tr:hover {
    background-color: #f5f5f5;
  }
  .Pesquisa input {
    width: 100%;
    padding: 10px;
    border: 1px solid #005c9e;
    border-radius: 15px;
  }
  .EnviarCadastro {
    background-color: #4c6baf;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 9px;
    
  }
  
  .EnviarCadastro:hover {
    background-color: rgb(149, 193, 230);
  }
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* Ajuste para o centro da tela */
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    height: auto;
  }
  .cadastroInput {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Espaçamento entre os inputs */
  .cadastroInput + .cadastroInput {
    margin-top: 10px;
  }
  

  
  .modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 4% auto;
    padding: 30px;
    border: 1px solid #888;
    width: 80%;
    height: 50%;
  }
}
/* Estilos adicionais para telas maiores (não móveis) */
@media screen and (min-width: 769px) {
    
/* Estilos para os inputs do formulário de cadastro */
.cadastroInput {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}

/* Espaçamento entre os inputs */
.cadastroInput + .cadastroInput {
  margin-top: 10px;
}

/* Estilos para o botão de cadastrar */
.EnviarCadastro {
  background-color: #4c6baf;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.EnviarCadastro:hover {
  background-color: rgb(149, 193, 230);
}

/* Estilos para a mensagem de status do cadastro */
.cadastro-status {
  margin-top: 10px;
  font-size: 16px;
  color: #4caf50; /* Verde */
}

.cadastro-status.error {
  color: #f44336; /* Vermelho */
}

/* Estilos para a tabela de resultados */
.Tabela {
  width: 100%;
  border-collapse: collapse;

}

.Tabela th, .Tabela td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.Tabela th {
  background-color: #4c6baf;
  color: white;
}

.Tabela tr:hover {
  background-color: #f5f5f5;
}

/* Estilos para o ícone na tabela */
.IconeTabela {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

/* Estilos para a área de pesquisa */
.Pesquisa {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.Pesquisa input {
  width: 100%;
  padding: 10px;
  border: 1px solid #005c9e;
  border-radius: 15px;
}

.Pesquisa img {
  cursor: pointer;
}
.body {
  /* background: linear-gradient(to right, #3a66c5, #8297c0); */
  margin: auto;
  height: auto;

}

/* Estilos para o formulário de entrada */
.FormInput {
  margin-left: 5%; /* Alterado para porcentagem para melhor adaptação em telas menores */
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 30px;
}

/* Estilos para o modal */
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 4% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  height: 60%;
}
.FormTable{
  margin-left: 55px; /* Alterado para porcentagem para melhor adaptação em telas menores */
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;

}
/* Estilos para o cartão dentro do modal */
/* Estilos para o cartão dentro do modal */
/* Estilos para o cartão dentro do modal */
.modal-content .card {
  position: relative; /* Permite posicionar elementos filhos relativos a este cartão */
  background-color: #0d2a69;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  color: #fff;
  text-align: center;
  width: 90%;
  height: auto;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Estilos para a bola centralizada acima do card */
.modal-content .card .bola {
  position: absolute;
  top: -20px; /* Posiciona a bola acima do card */
  left: 50%; /* Centraliza horizontalmente */
  transform: translateX(-50%); /* Ajusta para centralizar corretamente */
}

/* Estilos para o círculo branco */
.modal-content .card .bola .circulo {
  background-color: #0d2a69;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos para a imagem dentro do círculo */
.modal-content .card .bola .circulo img {
  width: 80%; /* Ajuste a largura conforme necessário */
  height: auto; /* Mantém a proporção original */
}

/* Estilos para o input dentro do cartão */
.modal-content .card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Estilos para os botões dentro do cartão */
.modal-content .card button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

/* Altere a cor do botão "Finalizar" quando hover, se desejar */
.modal-content .card button.finalizar:hover {
  background-color: #45a049;
}

/* Altere a cor do botão "Cancelar" quando hover, se desejar */
.modal-content .card button.cancelar:hover {
  background-color: #e74c3c;
}

.close{
  cursor: pointer;
}
.placaInput {
  background-color: #0d2a69;
  color: rgb(255, 255, 255);
  border: 3px solid white;
  border-radius: 18px;
  width: 35%;
  align-items: center;
  margin: 0 auto; /* Centraliza horizontalmente */
  margin-top: 6%;
  z-index: 99999;

  /* Outros estilos, se necessário */
}

  
}

