.sidebar {
  background-color: #333;
  width: 200px;
  height: 100%;
  position: absolute;
  overflow:auto;
  /* z-index: -99999; */
}
@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    position: relative;
  }
}

.menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.menu li {
  padding: 15px 0;
  color: #8d97ec;
  text-align: center;
  cursor: pointer;
}

.menu li:hover {
  background-color: #555;
}