/* Estilos para a barra lateral em telas maiores */
.sidebar {
  background-color: #011a50;
  width: 200px;
  height: 100%;
  position: absolute;
  overflow: auto;
}

.menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.menu li {
  padding: 15px 0;
  color: #ecedf8;
  text-align: center;
  cursor: pointer;
}

.menu li:hover {
  background-color: #4c6baf;
  border-radius: 25px;
}

.sidebar-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #011a50;
  color: #ecedf8;
}
.btnsair{
  background-color: #c6d2eb;
  color: #011a50;
  border-radius: 4px;
  cursor: pointer;
  font-size: 9px;
  margin-left: 35%;
  width: 100%;
  margin: 0;
  margin-top: 100%;
  
}

/* Estilo do sidebar em telas menores (móveis) */
@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    position: relative;
    overflow: hidden;
    
  }

  .sidebar-logo {
    display: none;
  }

  .menu li {
    text-align: left; 
    padding-left: 20px; 
  }
  .btnsair{
    background-color: #4c6baf;
    color: white;
    border-radius: 4px;
    font-size: 9px;
    width: 100%;
    margin: 0;
  }
}
